<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <h1 class="text-center" style="color:bisque">Aplicación para Consultas de datos de Scopus</h1>
    <div>
        <form action="Consulta" method="post">
            <div class="container">
                <div  style="background-color: #D9D9D9;">
                    <h2 class="text-center"><b>Seleccione el modo de busqueda</b></h2>
                    <br>
                    <!--
                    <div class="row">
                        <div class="col-6" style="margin: 10px;">
                            <select class="form-select" aria-label="Default select example" name="Seleccion" id="Seleccion">
                                <option selected>Seleccione la opción de busqueda</option>
                                <option value="Autor">Autor</option>
                                <option value="Anio">Año</option>
                                <option value="DOI">DOI</option>
                            </select>
                        </div>
                    </div>
                    -->
                    <br>
                    <div class="form-check form-check-inline" style="margin: 10px;">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Autor">
                        <label class="form-check-label" for="inlineRadio1">Autor</label>
                    </div>
                    <div class="form-check form-check-inline" style="margin: 10px;">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Anio">
                        <label class="form-check-label" for="inlineRadio2">Año</label>
                    </div>
                    <div class="form-check form-check-inline" style="margin: 10px;">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="DOI">
                        <label class="form-check-label" for="inlineRadio2">DOI</label>
                    </div>
                    <div >
                        
                    </div>
                    <br>
                    <div class="row" style="margin: 10px;">
                        <div class="col-6">
                            <label for="exampleInput" class="form-label">Ingrese lo que desea buscar:</label>
                            <input type="text" class="form-control" name="textoBuscar">
                            <div class="form-text">Ingrese el texto segun como escogio el check que elegiste.</div>
                        </div>
                    </div>
                    <br>
                    <div style="margin: 10px;">
                        <input type="submit" class="btn btn-primary" value="Buscar" name="Buscar"></input>
                        <input type="reset" class="btn btn-danger" value="Resetear"></input>
                    </div>
                    <br>
                </div>
            </div>
        </form>
        <h3 class="text-center" style="color:bisque"><b>Resultados Esperados</b></h3>
        <div style="width: 86%; margin-left: 7%; margin-right: 7%; background-color: #9CADEA;" class="col-12">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>